.container {
  position: relative;
  margin-left: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.textCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  font-size: 3vw;
  font-weight: 700;
  margin: 0;
}
.container p {
  font-size: 1vw;
  font-weight: 500;
  padding: 0 10px;
}
.overview > p {
  color: #bcbcbc;
  font-size: 1vw;
  width: 50vw;
  padding: 0px 10px;
}
.overview {
  width: max-content;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1000px) {
  .container {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textCont {
    align-items: center;
  }

  .title {
    margin-top: 20px;
    font-size: 35px;
  }
  .container p {
    font-size: 10px;
  }
  .overview > p {
    text-align: center;
    font-size: 15px;
    width: 400px;
  }
}
